{% extends "base.html" %}
{% block title %}
    Lesson 22: Buildings Bar Plot
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="#"><img id="logo" src="static/img/logo.png"></a>      
        </div>
    </nav>

    <!-- Bootstrap grid setup -->
    <div class="container">
        <div class="row">
            <div id="chart-area"></div>
        </div>
    </div>
    <!-- <script src="static/js/projects/lesson22_buildings.js"></script>
    <script>
        var temp = $('#data').data()['data'];
        bar2d('month', 'revenue', temp, d3.csvParse,
                'blue', 'Month', 'Revenue');
    </script> -->
<script>
    

</script>
    
</body>
{% endblock %}









