body {
  background: #5f6a7d;
  font-family: sans-serif;
}

.outer-label {
  font-size: 12px;
  fill: #ccc;
  text-align: center;
}

.center {
  font-size: 18px;
  text-transform: uppercase;
  fill: #fff;
}

path {
  cursor: pointer;
}

@-webkit-keyframes scale-up {
  from {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
